<!DOCTYPE html>
<html>
<head>
  <title><%= set_title(yield(:title)) %>
  </title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<header class="header clearfix">
  <!-- NavBar Contents -->
<nav>

    <ul class="nav navbar-inverse nav-pills float-right">
        <li class="nav-item"> <%= link_to "About Us", root_url.chomp("/") + "#aboutUs", class: "nav-link"%> </li>
        <li class="nav-item"> <%= link_to "Get in touch", root_url.chomp("/") + "#getInTouch", class: "nav-link" %> </li>
        <li class="nav-item"> <%= link_to "Our Services", root_url.chomp("/") + "#services", class: "nav-link" %> </li>
    </ul>
</div>
</nav>
</header>
<%= yield %>

</body>
</html>
